body {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 3.5fr;
  gap: 40px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "h1 h1 h1"
    "teamsContainer standingsContainer playersContainter";
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#h1 { 
  color: orange;
  grid-area: h1; 
  text-align: center;
  background-image: url('../nba-breakdown-front/images/Hoop\ header.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 30px;

}
#teamsContainer { 
  grid-area: teamsContainer; 
  text-align: center;
  background-color: blue;
  color: white;
  font-size: 20px;
}

#standingsContainer { 
  grid-area: standingsContainer;
  text-align: center;
  background-color: red;
  color:antiquewhite;
  font-size: 16px;
 }

 #records {
  margin:20px;
 }

 #standingResults > div {
  margin:10px;
 }

#playersContainer { 
  grid-area: playersContainter; 
  text-align: center;
  background-color: white;
  font-size: 20px;
}

form {
  margin:20px;
}
  
 